<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginView</servlet-name>
        <jsp-file>/JSP/authentication/login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>HomeView</servlet-name>
        <jsp-file>/JSP/home/home.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>TrainningProgrammeView</servlet-name>
        <jsp-file>/JSP/training/program.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PerformanceView</servlet-name>
        <jsp-file>/JSP/performance/performance.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ExerciceServlet</servlet-name>
        <servlet-class>module.training.servlet.ExerciceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BilanView</servlet-name>
        <jsp-file>/JSP/bilan/bilan.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginView</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeView</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainningProgrammeView</servlet-name>
        <url-pattern>/mes-programmes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerformanceView</servlet-name>
        <url-pattern>/performance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExerciceServlet</servlet-name>
        <url-pattern>/ExerciceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BilanView</servlet-name>
        <url-pattern>/realiser-bilan</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
